/************** Images Header******************/
.masthead-bictoin{
	    background-image: url(../img/bitcoin_header.jpg) !important;
}



/************** Backgroud ******************/
.bg-bitcoin{

	background:#ffae29 !important;
}

/************** Separator Color******************/
.hr-bitcoin{
	border-color: #ffae29 !important;
}

/************** Text Color ******************/
.c-bitcoin{

color: #ffae29 !important; 
}

/************** Sections Custom ******************/
