/************** Images Header******************/
.masthead-bictoin{
	    background-image: url(../img/bitcoin_masthead.jpg) !important;
			max-height: 300px !important;
}

.masthead-blockizor{
	  padding-top: 10rem;
	  padding-bottom: calc(10rem - 56px);
	  background-position: center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}


/************** Backgroud ******************/
.bg-bitcoin{

	background:#ffae29 !important;
}

/************** Separator Color******************/
.hr-bitcoin{
	border-color: #ffae29 !important;
}

/************** Text ******************/
.c-bitcoin{
color: #ffae29 !important;
}

.underline{
	text-decoration: underline !important;
}

/************** Sections Custom ******************/
.hidden{
	display: none;
}
